.custom-login{
    height: 500px;
    padding-top: 100px;
}
img.slider-img{
    height: 400px !important
}
.custom-product{
    margin-bottom: 100px !important;
}
.slide-text{
    background-color: #35443585 !important;
}
.trending-image{
    height: 200px;
}
.trending-item{
    float: left;
    width: 25%;
}
.trending-wrapper{
    margin: 30px
}
.detail-img{
    height: 300px;
}
.search-box{
    width: 500px !important;
}
